mat-form-field {
    margin: 0 1rem;
}

.form-container {
    margin-top: 3rem;
}

.md-width {
    width: 50%;
}

.sm-width {
    width: 15%;
}

.xs-width {
    width: 5%;
}

@media only screen and (max-width: 700px) {

    .form-container {
        display: flex;
        flex-direction: column;
    }

    .md-width, .sm-width, .xs-width {
        width: 100%;
    }
}