<mat-card class="form-container">

    <mat-form-field class="sm-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Character Name</mat-hint>
    </mat-form-field>

    <mat-form-field class="xs-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Exp</mat-hint>
    </mat-form-field>

    <mat-form-field class="sm-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Ancestry and Heritage</mat-hint>
    </mat-form-field>

    <mat-form-field class="sm-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Background</mat-hint>
    </mat-form-field>

    <mat-form-field class="sm-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Class</mat-hint>
    </mat-form-field>

    <mat-form-field class="xs-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Size</mat-hint>
    </mat-form-field>

    <mat-form-field class="xs-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Alignment</mat-hint>
    </mat-form-field>

    <mat-form-field class="sm-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Traits</mat-hint>
    </mat-form-field>

    <mat-form-field class="sm-width" color="accent" appearance="legacy">
        <input matInput>
        <mat-hint>Deity</mat-hint>
    </mat-form-field>

</mat-card>