<div class="row mt-5">

    <mat-card>

        <div class="form-row">

            <mat-form-field class="col-md-3" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Character Name</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-3" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Ancestry and Heritage</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-3" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Background</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-2" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Class</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-1" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Level</mat-hint>
            </mat-form-field>

        </div>

        <div class="form-row">

            <mat-form-field class="col-md-1" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Size</mat-hint>
            </mat-form-field>
        
            <mat-form-field class="col-md-2" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Alignment</mat-hint>
            </mat-form-field>
        
            <mat-form-field class="col-md-3" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Traits</mat-hint>
            </mat-form-field>
        
            <mat-form-field class="col-md-3" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Deity</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-1" color="accent" appearance="legacy">
                <input matInput>
                <mat-hint>Exp</mat-hint>
            </mat-form-field>
        
        </div>
    
    </mat-card>

</div>
