<div class="field">
    <mat-form-field color="accent" class="sm-width" appearance="outline">
        <mat-label>AC</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>

 <span> = 10 </span>

 <div class="field">
    <mat-form-field color="accent" class="sm-width" appearance="outline">
        <mat-label>Dex</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>

 <span> OR </span>

 <div class="field">
    <mat-form-field color="accent" class="sm-width" appearance="outline">
        <mat-label>Cap</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>

 <div class="field">
    <mat-form-field color="accent" class="sm-width" appearance="outline">
        <mat-label>Prof</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>

 <app-trained-radio></app-trained-radio>

 <div class="field">
    <mat-form-field color="accent" class="sm-width" appearance="outline">
        <mat-label>Item</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>

 <div style="display: inline-block; margin-right: 2rem;">
    <div style="text-align: center; margin-bottom: .75rem; font-weight: 500;">Unarmed</div>
    <div>
        <app-trained-radio></app-trained-radio>
    </div>
 </div>

 <div style="display: inline-block; margin-right: 2rem; margin-bottom: 2rem;">
    <div style="text-align: center; margin-bottom: .75rem; font-weight: 500;">Light</div>
    <div>
        <app-trained-radio></app-trained-radio>
    </div>
 </div>

 <div style="display: inline-block; margin-right: 2rem;">
    <div style="text-align: center; margin-bottom: .75rem; font-weight: 500;">Medium</div>
    <div>
        <app-trained-radio></app-trained-radio>
    </div>
 </div>

 <div style="display: inline-block; margin-right: 2rem;">
    <div style="text-align: center; margin-bottom: .75rem; font-weight: 500;">Heavy</div>
    <div>
        <app-trained-radio></app-trained-radio>
    </div>
 </div>

 <mat-divider  [inset]="true" style="margin-top: 2rem; margin-bottom: 2rem;"></mat-divider>

 <div class="field">
    <mat-form-field color="accent" class="sm-width" appearance="outline">
        <mat-label>Shield</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>

 <div class="field">
    <mat-form-field color="accent" class="md-width" appearance="outline">
        <mat-label>Hardiness</mat-label>
        <input type="text" matInput>
    </mat-form-field>
 </div>