mat-form-field {
    width: 4rem;
}

.full-width {
    width: 100%;
}

.header {
    margin: 15px 0;
    font-weight: 500;
    background: #ff4081;
    color: #ffffff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medium {
    font-size: 0.9rem;
}

.throw {
    width: 6rem;
}