<div class="row">
    <div class="col-md-12">
        <div class="text-center header">
            Hit Points
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <mat-form-field class="md-width" color="accent" appearance="outline">
            <mat-label>Max</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
    
    <div class="col-md-6">
        <mat-form-field class="md-width" color="accent" appearance="outline">
            <mat-label>Current</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Temp</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Dying</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Wounded</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <mat-form-field class="full-width" color="accent" appearance="outline">
            <mat-label>Resistances and Immunities</mat-label>
             <textarea matInput></textarea>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <mat-form-field class="full-width" color="accent" appearance="outline">
            <mat-label>Conditions</mat-label>
             <textarea matInput></textarea>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-center header" style="background-color: #ff4081; color: white;">
            Perception
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Wis</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
    
    <div class="col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Prof</mat-label>
             <input matInput>
        </mat-form-field>
    </div>

    <div class="col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Item</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="ml-auto mr-auto">
        <mat-radio-group [(ngModel)]="perception">
            <app-trained-radio></app-trained-radio>
        </mat-radio-group>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <mat-form-field class="full-width" color="accent" appearance="outline">
            <mat-label>Senses</mat-label>
             <textarea matInput></textarea>
        </mat-form-field>
    </div>
</div>