<div class="text-center header">
    Abilty Scores
</div>
<div>
    <app-ability-score-item></app-ability-score-item>
</div>
 
<div class="text-center header">
    Class DC
</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>DC</mat-label>
             <input matInput>
        </mat-form-field>
    </div>

    <div class="col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Key</mat-label>
             <input matInput>
        </mat-form-field>
    </div>

    <div class="col-md-4">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Prof</mat-label>
             <input matInput>
        </mat-form-field>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <app-trained-radio></app-trained-radio>
    </div>
    <div class="col-md-6">
        <mat-form-field class="sm-width" color="accent" appearance="outline">
            <mat-label>Item</mat-label>
             <input matInput>
        </mat-form-field>
    </div>
</div>
